.Layout {
    width: 100vw;
    height: 100vh;
    /* height: 100vh; */
    background-color: rgb(248, 239, 241);
    overflow: auto;
}

.Top {
    width: 100%;
    /* display: block; */
    overflow: auto;
    margin: 0 auto;
    margin-bottom: 50px;
    /* height: 500px; */
    background-color: rgb(159, 173, 159);
}

.Bottom {
    width: 100%;
    display: block;
    /* overflow: auto; */
    margin-bottom: 10px;
}

.Heading {
    /* background-color: cyan; */
    margin: 0 auto;
    /* display: block; */
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    text-indent: 10px;
}

.Heading h1 {
    font-size: 22px;
}

.Heading h2 {
    font-size: 18px;
}

.Inputs {
    margin: auto auto;
    display: block;
    width: 100%;
    overflow: hidden;
    /* background-color: tomato; */
    margin-top: 15px;
    height: 250px;
}

.Points {
    /* background-color: rgb(96, 209, 162); */
    margin: auto auto;
    /* display: block; */
    overflow: auto;
    width: 100%;
    /* height: 100%; */
    margin-top: 15px;
    /* margin-bottom: 15px; */
}

.Charts {
    background-color: rgb(223, 214, 214);
    margin: auto auto;
    display: block;
    overflow: auto;
    width: 95%;
    /* height: 100%; */
}


@media only screen and (min-width: 768px) {
    .Layout {
        overflow: auto;
    }

    .Top {
        width: 100%;
        /* height: 150px; */
        display: block;
        overflow: hidden;
    }
    
    .Bottom {
        width: 100%;
        height: 80%;
    }
    
    .Heading {
        background-color: rgb(63, 134, 134);
        margin: 20px 20px;
        float: left;
        width: 50%;
        height: 100%;
    }
    
    .Heading h1 {
        font-size: 40px;
    }
    
    .Heading h2 {
        font-size: 30px;
    }
    
    .Inputs {
        margin: 20px 20px;
        float: right;
        width: 40%;
        height: 400px;
    }
    
    .Points {
        background-color: rgb(96, 209, 162);
        margin: 20px 20px;
        float: left;
        width: 47%;
        /* height: 100%; */
    }
    
    .Charts {
        background-color: white;
        margin: 20px 20px;
        float: left;
        width: 47%;
        /* height: 100%; */
    }
}