.Point {
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 1px 1px #888888;
    background-color: #ccc;
}

.Date {
    font-size: 30px;
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
    /* background-color: thistle; */
}

.Description {
    font-size: 30px;
    display: inline-block;
    margin-left: 30px;
    box-sizing: border-box;
    width: 40%;
    /* background-color: rgb(175, 76, 175); */
    overflow: hidden;
}

.Amount {
    font-size: 30px;
    display: inline-block;
    margin-left: 30px;
    box-sizing: border-box;
    width: 17%;
    /* background-color: rgb(97, 51, 97); */
}

.Delete {
    font-size: 30px;
    display: inline-block;
    margin-left: 30px;
    cursor: pointer;
    color: red;
    box-sizing: border-box;
}